.content {
  margin-top: 20px;
  .item-list {
    .item {
      border: 2px solid $page_main_border_color;
      display: inline-block;
      width: 250px;
      padding: 5px;
      margin: 10px;
      .info {
        span {
          display: block;
          text-align: center;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.product_content {
  padding-top: 20px;
  padding-left: 10px;
  form {
    div {
      span:not(.help-block) {
        width: 120px;
        display: inline-block;
      }
    }
    div:not(.second-form) {
      margin-bottom: 25px;
    }
    input, select {
      border: 2px solid $page_main_border_color;
      padding: 3px;
      margin-right: 7px;
      width: 200px;
    }
  }
  .second-form {
    margin-top: 70px;
  }
}
