.header {
  .title {
    display: inline-block;
    font-size: 19px;
  }
  .action {
    display: inline-block;
    float: right;
    select {
      border: 2px solid $page_main_border_color;
      padding: 3px;
      margin-right: 7px;
      color: $page_main_text_color;
    }
    button {
      padding: 3px;
      background: none;
      border: 2px solid $page_main_border_color;
      outline: none;
      color: $page_main_text_color;
    }
  }
  border-bottom: 2px solid $page_main_border_color;
  padding: 10px 5px;
}
