@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "config";
@import "header";
@import "content";

html {
  font-family: 'Open Sans', sans-serif;
  color: $page_main_text_color;
}

body {
  width: 90%;
  margin: 15px auto;
}

* {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

#msg_box {
  position: absolute;
  bottom: 15px;
  right: 15px;
  padding: 5px 10px;
  background: black;
  font-size: 14px;
  color: white;
}

#msg_box.success {
  background: $alert_success_background_color;
}

#msg_box.error {
  background: $alert_error_background_color;
}

